/* ---------!!--FONTS--!!------- */
// &display=swap

/* ---------!!--FILE-STYLES--!!--------- */
@import '_nullstyle';
@import '_ibg';
// --------переменные--------
$l-gray: #f2f2f2;
$black: #000;
$white: #fff;
$gray: #d6d0ce;
$d-gray: #8d8d8d;
// --------------------------
@font-face {
	font-family: 'nympha';
	src: url('../fonts/nympha/TTF/NymphaTrial-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'sfpro';
	src: url('../fonts/SFPro/SFProDisplay-Regular.eot');
	src: url('../fonts/SFPro/SFProDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'sfpro';
	src: url('../fonts/SFPro/SFProDisplay-Medium.eot');
	src: url('../fonts/SFPro/SFProDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: fallback;
}
// --------------------------
::-webkit-scrollbar {
    width: 17px;
    background-color: $black;
}
::-webkit-scrollbar-thumb {
    background-color: $d-gray;
    border: 4px solid $black;
    border-radius: 30px;
}
/* ---------!!--BODY--!!--------- */
body {
	// font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-family: sfpro;
	background-color: $black;
	color: $l-gray;
}
/* --------!!--WRAPPER--!!------- */
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
	user-select: none;
}
/* ---------!!--CONTAINER--!!--------- */
.container {
	// ширина контейнера + паддинги с двух сторон
	max-width: 75%;
	// max-width: 1440px;
	margin: 0 auto;
	// padding: 0 87px;
}
/* ---------!!--CONTENT--!!--------- */
.content {
	flex: 1 1 auto;
}
/* ---------!!--header--!!--------- */
@import '_header';
/* ---------!!--main--!!--------- */
.main {
	position: relative;
	padding-top: 180px;
	margin-bottom: 100px;
	// .main__title
	&__title {
		font-size: 220px;
		line-height: 259px;
		font-family: 'nympha';
		color: $white;
		position: absolute;
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
	}
	// .main__image
	&__image {
		img {
			max-width: 100%;
		}
		text-align: center;
	}
}
/* ---------!!--staff--!!--------- */
.staff {
	display: flex;
	justify-content: center;
	margin-bottom: 75px;
	// .staff__row
	&__row {
		display: flex;
	}
	// .staff__column
	&__column {
		&:not(:last-child) {
			margin-right: 85px;
		}
		text-align: center;
	}
	// .staff__post
	&__post {
		font-size: 16px;
		line-height: 121.4%;
		opacity: 0.7;
		color: $gray;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
	// .staff__name
	&__name {
		font-family: nympha;
		font-size: 24px;
		line-height: 121.4%;
		color: $gray;
	}
}
/* ---------!!--first-block--!!--------- */
.first-block {
	padding: 200px 0;
	// .first-block__row
	position: relative;
	&__row {
		position: relative;
		z-index: 222;
		display: flex;
		flex-direction: column;
	}
	// .first-block__column
	&__column {
		&:nth-child(2) {
			text-align: right;
		}
		&:not(:last-child) {
			margin-bottom: 200px;
		}
	}
	// .first-block__image
	&__image {
	}
	// .first-block__title
	&__title {
		position: absolute;
		top: 37.5%;
		left: 50%;
		transform: translate(-50%, -37.5%);
		font-size: 220px;
		line-height: 259px;
		font-family: nympha;
		color: $d-gray;
		z-index: 1;
	}
}
/* ---------!!--second-block--!!--------- */
.second-block {
	margin-bottom: 500px;
	// .second-block__row
	&__row {
		display: flex;
		align-items: center;
	}
	// .second-block__column
	&__column {
		&:first-child {
			margin-right: 44px;
		}
	}
	// .second-block__image
	&__image {
		&:not(:last-child) {
			margin-left: 70px;
			margin-bottom: 306px;
		}
	}
}
/* ---------!!--third-block--!!--------- */
.third-block {
	position: relative;
	margin-bottom: 500px;
	// .third-block__title
	&__title {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 260px;
		line-height: 306px;
		font-family: nympha;
		color: $white;
		& > span:not(:last-child) {
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: $white;
			color: transparent;
		}
	}
	// .third-block__row
	&__row {
		display: flex;
		justify-content: center;
	}
	// .third-block__column
	&__column {
		&:first-child {
			.third-block__image img {
				transform: rotate(7deg);
			}
		}
	}
	// .third-block__image
	&__image {
	}
}
/* ---------!!--end-block--!!--------- */
.end-block {
    position: relative;
    margin-bottom: 200px;
	// .end-block__title
	&__title {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 49%;
        transform: translate(-49%, -50%);
		font-size: 154px;
        white-space: nowrap;
		line-height: 181px;
        color: $white;
        font-family: nympha;
	}
	// .end-block__row
	&__row {
        display: flex;
        justify-content: center;
	}
	// .end-block__column
	&__column {
        z-index: 1;
        &:nth-child(2){
            z-index: 2;
            margin: 0 -170px;
        }
        &:first-child{margin-top: -50px;}
        &:last-child{margin-top: 80px;}
	}
	// .end-block__image
	&__image {
	}
}
/* ---------!!--MEDIA--!!--------- */
@media (max-width: 1440px){
	.container{max-width: 90%;}
	[class*='__image']{text-align: center;}
	.second-block__image:not(:last-child) {margin-left: auto;}
	.second-block__column:first-child {margin-right: 0;}
	.first-block__image img, .second-block__image img, .third-block__image img{max-width: 80%;}
	.third-block__title{font-size: 200px;}
	.first-block {padding: 100px 0;}
	.first-block__column:not(:last-child) {margin-bottom: 150px;}
	.first-block__title{top: 37%;}
	.second-block{margin-bottom: 300px;}
	.third-block{margin-bottom: 400px;}
}
@media (max-width: 1440px) and (orientation: portrait){
	.main__title, .first-block__title{font-size: 150px;}
	.staff{margin-bottom: 30px;}
	.first-block__image img{max-width: 100%;}
	.first-block__title{top: 36%;}
	.third-block__title{font-size: 180px; line-height: 260px;}
	.third-block{margin-bottom: 300px;}
	.third-block__image img{max-width: 70%;}
	.end-block__image img{max-width: 80%;}
	.end-block{margin-bottom: 100px;}
	.end-block__title{font-size: 95px;}
}
@media (max-width: 767px){
	.staff__row{flex-direction: column;}
	.staff__column:not(:last-child){margin-right: 0;margin-bottom: 20px;}
	.staff{margin-bottom: 0;}
	.first-block__title{font-size: 120px;top: 35%;}
	.first-block__column:not(:last-child){margin-bottom: 100px;}
	.first-block{padding: 70px 0;}
	.second-block__image img{max-width: 95%;}
	.second-block{margin-bottom: 200px;}
	.third-block__title{font-size: 150px; line-height: 230px;}
	.end-block__title{font-size: 80px;line-height: 160px;}
}
@media(max-width: 480px) and (pointer: coarse){
	.main{padding-top: 130px;}
	.main__title{font-size: 90px;line-height: 172px;}
	.first-block__title{font-size: 90px;line-height: 290px;}
	.first-block__column:not(:last-child){margin-bottom: 80px;}
	.second-block__image img{max-width: 100%;}
	.third-block__title{font-size: 90px;line-height: 180px;}
	.third-block__image img{max-width: 80%;}
	.third-block{margin-bottom: 200px;}
	.end-block__title{font-size: 50px;line-height: 100px; top: 40%; transform: translate(-49%, -40%);}
}
